body, html{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

#passions{
    position: absolute; 
    top: 360px; 
    left: 500px;
    width: 760px; 
    height: 250px;
}

.pass{
    transition: all 0.5s ease-in-out;
    transform: translate(-40, 60);
}

.pass:hover{
    width: 100px;
    height: 100px;
}

.explore_but{
    position: absolute;
    border: 2px solid #1a1e1f;
    padding: 15px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    top: 220px;
    left: 250px;
    cursor: pointer;
    transition: all 0.5s;
}

.explore_but:hover{
    box-shadow: 0 0 8px grey;
}

.stop-left {
    stop-color: #efe2c2;  /* Indigo */
}

.stop-right {
    stop-color: #f0b84f;  /* Teal */
}

.filled {
    fill: url(#mainGradient);
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 340px;					
    height: 140px;					
    padding: 10px;				
    font-family: Lato, sans-serif;		
    background:white;
    box-shadow: 0 0 4px gray;
    border: 0px;		
    border-radius: 2px;			
    pointer-events: none;
    cursor: pointer;			
}